body {background-color:tan;}
h1{color:grey; font-family: Verdana; font-size: 14px;}

.maindiv {
    background-color: white;
    color: black;
    width: 300px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;

    border-style: solid;
    border-radius: 25px;

    margin-left: auto; 
    margin-right: auto;
}


