body {background-color:black;}

h1 {color:grey; font-family: Verdana; font-size: 20px;}

.maindiv {
    background-color: white;
    font-family: Verdana;
    color: black;
    width: 300px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;

    border-style: solid white;
    border-radius: 25px;

    margin-left: auto; 
    margin-right: auto;

    text-align: left;
}

.formdiv {
    padding-left: 40gipx;
}

.highlight {
  background-color: yellow;
}


